$f-size-extra:18px;
$f-size-bigger:16px;
$f-size:14px;
$f-size-smaller:12px;
$f-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;

$c-background: #2d323b;
$c-background-light: #828282;
$c-text-fade: #717882;
$c-text: #a5adb7;
$c-text-light: #c7cad0;
$c-highlight: #7eabfc;

$pad-input:5px;
$h-input:27px;

$fs-large:25px;
$fs-bigger:20px;
$fs-big:18px;
$fs-med:16px;
$fs:14px;
$fs-small:12px;
$fs-tiny:10px;

$ff-normal:Arial;
